/* styles.css */

body {
  background-color: rgb(40, 100, 179);
  font-family: 'roboto';  
}



.box1 {
  background-color: #4ec0ec;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  border: 10px solid rgb(7, 54, 82);
  text-align: left;
  color: #000000;
}

.box2 {
  background-color: #9e9b9b;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  border: 10px solid rgb(7, 54, 82);
  text-align: left;
  color: #000000;
}

.container {
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item {
  width: 60px;
  height: 60px;
  border: 4px solid darkslategray;
  background: skyblue;
}