/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    color: #1f2937;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

/* HEADER */

header {
    background: #1f2937;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;

}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 18px;
    margin-left: 20px;

}

/* HERO */

.hero {
    background: #1f2937;
    padding: 80px;
    color: #f9faf8;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
    padding: 10px 0px;
}

.hero-button {
    background: #3882f6;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


/* INFORMATION */

.information {
    text-align: center;
    padding: 60px 0;
}

.information h2 {
      font-size: 36px;
      font-weight: 900;
}

.info-grid {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;  
 }

.info-item {
    width: 150px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.info-item p {
   margin-top: 10px; 
   font-size: 14px;
   color: #6b7280;
}

/* QUOTE */

.quote {
    background: #e5e7eb;
    padding: 80px 0;
}


.quote-text {
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 30px;
    font-style: italic;
    line-height: 1.5;
}

.auther {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
}

/* CALL TO ACTION */

.action {
    margin: 60px;
}

.action-container {
    background: #3882f6;
    padding: 20px 60px;
    display: flex;
    border-radius: 10px;
}

.action-text {
    font-size: 10px;
    color: white;
}

.action-btn {
  border: 2px solid white;
  background: transparent;
  padding: 10px 30px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

/* FOOTER */

footer {
    background: #1f2937;
    color: white;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}



